{% extends "compta/header.html" %}
{% block content %}
    <div class="row">
        <h2>Transactions du compte {{ budget.nom }}</h2>

        <p>Montant initial: {{ budget.somme_depart }} CHF</p>

        <h4><b>Montant disponible:
            {% if   budget.somme_actuelle > 0 %}
                <span class="text-success">{{ budget.somme_actuelle}} CHF</span>
            {% else %}
                <span class="text-danger"> {{budget.somme_actuelle}} CHF</span>
            {% endif %}
        </b></h4>
    </div>
    <div class="row top-buffer">
        {% include 'compta/includes/transac.html' with object_list=transac%}
        {% include 'compta/includes/export_snippet.html' %}
    </div>
{% endblock %}