{% extends "compta/header.html" %}
{% block content %}
    <h2 xmlns="http://www.w3.org/1999/html">Transactions</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Nom</th>
                <th>Montant</th>
                <th>Compte</th>
                <th>Budget</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for c in object_list %}
                    <tr>
                        <td>{{ c.date|date:"Y-m-d" }}</td>
                        <td>{{ c.nom }}</td>
                        <td>
                            {% if  c.somme > 0 %}
                                <font color="lawngreen">{{c.somme}}</font>
                            {% else %}
                                <font color="red">{{c.somme}}</font>
                            {% endif %}
                        </td>
                        <td>{{ c.compte }}</td>
                        <td>{{ c.budget }}</td>
                        <td>{{ c.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{#    <form method="post" action="{% url 'export_csv' %}" class="js-export-form">#}
{#        {% csrf_token %}#}
{#        <button type="submit" class="btn btn-danger">Export</button>#}
{#    </form>#}
    {% include 'compta/includes/export_snippet.html' %}
{% endblock %}