{% extends "compta/header.html" %}
{% block content %}
	{% for c in object_list %}
        <h3>
            {{ c.date|date:"Y-m-d" }} - {{ c.nom }}
            {% if  c.somme > 0 %}
                <font color="lawngreen">{{c.somme}}</font>
            {% else %}
                <font color="red">{{c.somme}}</font>
            {% endif %}
        </h3>
        <p><strong>Compte:</strong> {{ c.compte }}</p>
        <p><strong>Budget:</strong>: {{ c.budget }}</p>
        <p><strong>Description:</strong>: {{ c.description }}</p>
	{% endfor %}
{% endblock %}